<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://unpkg.com/vue@next"></script>
    <style>
        .box {
            padding: 100px 0;
            width: 400px;
            text-align: center;
            background: #ddd;
            margin: 20px;
            display: inline-block;
        }
    </style>
</head>

<body>
    <h1>Hello Vue!</h1>
    <h2>Events</h2>
    <h3>V-ON:CLICK</h3>
    <div id="app">
        <div v-if="showBooks">
            <!-- dynamic data -->
            <h2>{{ books[1].title }} - {{ books[1].author }} - {{ books[1].age }}</h2>
            <button v-on:click="age++">Increase age</button>
            <button @click="age--">Decrease age</button>
            <button @click="changeTitle('New Title')">Change book title</button>
        </div>

        <h2>Conditionnal rendering</h2>
        <h3>V-IF</h3>
        <button @click="toggleShowBooks()">
            <span v-if="showBooks">Hide books</span>
            <span v-else>Show books</span>
        </button>

        <h3>V-SHOW</h3>
        <p v-show="showBooks">Currently showing books</p>

        <h2>Mouse Events</h2>
        <div class="box" @mouseover="handleEvent($event, 5)">mouseover</div>
        <div class="box" @mouseleave="handleEvent">mouseleave</div>
        <div class="box" @dblclick="handleEvent">double click</div>
        <div class="box" @mousemove="handleMouseMove">position: {{ x }} - {{ y }}</div>

        <h2>Outputting Lists V-FOR</h2>
        <ul>
            <li v-for="book in books">
                <img :src="book.img" :alt="book.tittle">
                <h3>{{ book.title }} - {{ book.author }} - {{ book.age }}</h3>
            </li>
        </ul>

        <h2>Attribute Binding</h2>
        <p><a v-bind:href="url">The Best Site Ever</a></p>
        <p><a :href="url">The Second Best Site Ever</a></p>
    </div>
    <script src="app.js"></script>
</body>

</html>